<div class="row mb-4">
    <div class="col-md-4">
        <div class="card p-3 income-card">
            <h5>Total Income</h5>
            <h3>R {{ income }}</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3 expense-card">
            <h5>Total Expenses</h5>
            <h3>R {{ expenses }}</h3>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3 balance-card">
            <h5>Net Balance</h5>
            <h3>R {{ balance }}</h3>
        </div>
    </div>
</div>
